/* Import */
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap');

/* Reset */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, button, textarea {
    font: inherit;
}

/* Variables */
:root {

    /* Fonts */
    --FF: 'Nunito', sans-serif;
    --HEAD-FF: 'Fugaz One', cursive;
    --FS: clamp(1rem, 2.2vh, 1.5rem);
    
    /* Color */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(252,220,160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #fff;
    --FONT-COLOR: #000;
    --BORDER-COLOR: #333;
    --HIGHLIGHT-COLOR: rgb(51, 178, 51);
    --LINK-COLOR: #000;
    --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
    --LINK-ACTIVE: orange;
    --HEADER-BGCOLOR: #000;
    --HEADER-COLOR: #fff;
    --NAV-BGCOLOR: #fff;
    
    /* Padding */
    --PADDING-TB: 0.25em;
    --PADDING-SIDE: 2.5%;

    /* Margin */
    
    /* Border */
    --BORDER: 1px solid var(--BORDER-COLOR);
}
/* Utility */
.offscreen {
    position: absolute;
    left: -1000px;
}

.nowrap {
    white-space: nowrap;
}

/* Basic Style */
html {
    scroll-behavior: smooth;
    background-color: var(--BGCOLOR);
    background-image: var(--BGIMAGE);
    font-family: var(--FF);
    font-size: var(--FS);
}

body {
    background-color: var(--BODY-BGCOLOR);
    color: var(--FONT-COLOR);
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    border-left: var(--BORDER);
    border-right: var(--BORDER);
    box-shadow: 0px 0px 10px var(--BORDER-COLOR);
}

h1, h2, h3 {
    font-family: var(--HEAD-FF);
    letter-spacing: 0.1em;
}

h2, h3 {
    margin-bottom: 1em;
    color: var(--HIGHLIGHT-COLOR);
}

p {
    line-height: 1.5;
}

a:any-link {
    color: var(--LINK-COLOR);
}

a:hover, a:focus-visible {
    color: var(--LINK-HOVER)
}

a:active {
    color: var(--LINK-ACTIVE);
}

/* Header */

.header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.header__h1 {
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
    background-color: var(--NAV-BGCOLOR);
    border-bottom: var(--BORDER);
    box-shadow: 0 6px 5px -5px var(--HEADER-BGCOLOR);
    font-weight: bold;
}

.header__ul {
    display: flex;
    justify-content: space-evenly;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
    list-style-type: none;
    gap: 1em;
}

/* Footer */

.footer {
    position: sticky;
    bottom: 0;
    background-color: var(--HEADER-BGCOLOR);
    color: var(--HEADER-COLOR);
    text-align: center;
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

/* Main */

.main {
    padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

/* Media Query */
