/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */

:root {
    /* Color */
    --BGCOLOR: linear-gradient(#ffa603, #fdbd46);
    --HEAD-FOOT-BG: #333;
    --HEAD-FOOT-FG: whitesmoke;
    --TABLE-HEAD: #33b233;

    /* Font */
    --BIG: 1.5rem;
    --SMALL: 1.25rem;
}

/* Basic */

body {
    font-size: var(--SMALL);
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
    /* text-align: center; */
}

header, footer {
    position: sticky;
    font-size: var(--BIG);
    background-color: var(--HEAD-FOOT-BG);
    color: var(--HEAD-FOOT-FG);
}

header {
    top: 0;
}

footer {
    bottom: 0;
}

nav {
    background-color: var(--HEAD-FOOT-FG);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

nav a:any-link {
    color: var(--HEAD-FOOT-BG);
}

nav a:hover, nav a:focus {
    filter: opacity(50%);
}

/* Image */


/* Table */

table th, h2, tfoot {
    color: var(--TABLE-HEAD);
}

tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
}
