/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic */

html {
    font-size: 1.5rem;
}

header {
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

p {
    width: 150px;
    height: 150px;
    border: 2px solid black;
    display: grid;
    place-content: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Transform - General */

.transform p:first-child {
    background-color: dodgerblue;
}

.transform p:nth-child(2) {
    background-color: yellow;
}

.transform p:last-child {
    background-color: limegreen;
}

/* Transform - TranslateX */

.translateX p:first-child {
    transform: translateX(50%);
}

.translateX p:nth-child(2) {
    transform: translateX(-50%);
}

/* Transform - TranslateY */

.translateY p:first-child {
    transform: translate(100%, 50%);
}

.translateY p:nth-child(2) {
    transform: translate(-100%, -50%);
}

/* Experimental */

.experimental p:first-child {
    transform: translateX(-50%);
}

.experimental p:nth-child(2) {
    transform: translateY(-50%);
}

.experimental p:nth-child(3) {
    transform: translate(50%, -100%);
    z-index: 2;
}

.experimental p:nth-child(4) {
    transform: translateY(-150%);
    z-index: 1;
}

.experimental p:last-child {
    transform: translate(-50%, -200%);
}

/* Transform - RotateX */

.rotateX p:first-child {
    transform: rotateX(180deg);
}

.rotateX p:nth-child(2) {
    transform: rotateX(90deg);
}

.rotateX p:last-child {
    transform: rotateX(45deg);
}

/* Transform - RotateY */

.rotateY p:first-child {
    transform: rotateY(180deg);
}

.rotateY p:nth-child(2) {
    transform: rotateY(90deg);
}

.rotateY p:last-child {
    transform: rotateY(45deg);
}

/* Transform - RotateZ */

.rotateZ p:first-child {
    /* transform: rotateZ(180deg); */
    transform: rotate(180deg);
}

.rotateZ p:nth-child(2) {
    transform: rotateZ(90deg);
}

.rotateZ p:nth-child(3) {
    transform: rotateZ(135deg);
}

.rotateZ p:nth-child(4) {
    transform: rotateZ(-90deg);
    /* transform: rotateZ(270deg); */
}

.rotateZ p:last-child {
    transform: rotateZ(45deg);
}

/* Transform - ScaleX */

.scaleX p:first-child {
    transform: scaleX(120%);
}

.scaleX p:nth-child(2) {
    transform: scaleX(50%);
}

/* Transform - ScaleY */

.scaleY p:first-child {
    transform: scaleY(120%);
}

.scaleY p:nth-child(2) {
    transform: scaleY(50%);
}

.scaleY p:nth-child(3) {
    transform: scale(50%, 50%);
}

/* Transform - SkewX */

.skewX p:first-child {
    transform: skewX(-10deg);
}

.skewX p:nth-child(2) {
    transform: skewX(10deg);
}

.skewX p:nth-child(3) {
    transform: skewX(100deg);
}

.skewX p:nth-child(4) {
    transform: skewY(100deg);
}

/* Transform - SkewY */

.skewY p:first-child {
    transform: skewY(-10deg);
}

.skewY p:nth-child(2) {
    transform: skewY(10deg);
}

.skewY p:nth-child(3) {
    transform: skew(-10deg, -10deg);
}

/* Transition */

.transition p:first-child {
    background-color: #ef476f;
}

.transition p:nth-child(2) {
    background-color: #ffd166;
}

.transition p:last-child {
    background-color: #06d6a0;
}

/* Transition Property */

.transition-property-duration p:hover {
    background-color: yellow;
    transition-property: background-color;
    transition-duration: 2s;
}

/* Transition Delay */

.transition-delay p:first-child:hover {
    transform: translateX(100%);
    transition-property: transform;
    transition-delay: 1s;
}

.transition-delay p:nth-child(2):hover {
    background-color: midnightblue;
    transform: rotate(180deg);
    transition-property: background-color, transform;
    transition-duration: 2s, 3s;
    transition-delay: 0.5s;
}

.transition-delay p:last-child {
    transform: scale(50%, 50%);
    transition-property: transform, background-color;
    transition-duration: 1.5s;
    transition-delay: 1.5s;
}

.transition-delay p:last-child:hover {
    transform: scale(100%, 100%);
    background-color: red;
}
