/* Reset */

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Basic */

body {
    font-size: 1.5rem;
}

/* Header */

header {
    margin: 1rem;
    text-align: center;
}

hr {
    border: 2px solid;
}

/* Remove Part Start */

/* Pseudo Class */

summary {
    font-size: x-large;
}

details p {
    margin: 1rem;
}

.layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.layout nav {
    margin: 2rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.layout nav a {
    color: blue;
    text-decoration: none;
}

.layout nav a:visited {
    color: red;
}

.layout nav :is(a:focus,a:hover) {
    text-decoration: underline;
    color: aqua;
}

.layout nav a:active {
    color: black;
}

.card {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    /* background-color: gainsboro; */
}

.card:target {
    border: 2px solid red;
}

.layout div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layout img {
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.layout a {
    text-decoration: none;
    color: black;
}

.layout img:not([alt]) {
    border: 3px solid;
}

/* .layout a:nth-child(3) :not(nav) {
    background-color: #8a2be2;
} */

.layout a:nth-child(even) :not(nav) {
    background-color: #8a2be2;
}

/* Pseudo Element */

div {
    margin: 1rem;
    padding: 0.25rem;
}

.some-div h3::after {
    content: ' H3';
}
/* Remove Part End */
