* {
    text-align: center;
}

/* heading */

.box {
    padding: 3px;
    background-color: red;
    color: white;
    font-family: fantasy;
}

/* Content Box */

.cb {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    border: 1px solid red;
    font-size: 2rem;
}

.cb-h {
    margin: 2em;
    outline: 2px solid blue;
    outline-offset: 2em;
    padding: 1.2em;
}

.cb-p {
    font-size: 1.5rem;
    margin: 3em;
    padding: 1.5em;
    outline: 2px solid green;
    outline-offset: 3em;
}

/* hr */

hr {
    border: 6px solid pink;
}

/* Border Box */

.bb {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
    border: 1px dotted orangered;
}

.bb-h {
    margin: 1.5em;
    padding: 1.5em;
    border-top: 2px solid red;
    border-right: 6px double green;
    border-bottom-width: 3px;
    border-bottom-style: dashed;
    border-bottom-color: blue;
    border-left: 10px solid lightskyblue;
    background-color: #ddffff;
}

.bb-p {
    color: white;
    background-color: lightcoral;
    padding-top: 2.5em;
    padding-right: 0.5em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    margin: 1.5em;
    border: 2px solid lawngreen;
    width: 700px;
}

/* Experimental */

.mixed-border {
    border-style: dashed dotted inset double;
    border-width: 5px;
    border-color: blueviolet;
    padding: 3em;
    border-bottom-color: orange;
}

.circle {
    border: 2px solid black;
    background-color: aqua;
    outline: 2px solid pink;
    outline-offset: 5px;
    width: 100px;
    height: 100px;
    margin: 2em auto;
    border-radius: 50px;
}

.square {
    border: 2px solid black;
    background-color: aqua;
    outline: 2px solid pink;
    outline-offset: 5px;
    width: 100px;
    height: 100px;
    margin: 2em auto;
}

.oval {
    border: 2px solid black;
    background-color: aqua;
    outline: 2px solid pink;
    outline-offset: 5px;
    width: 100px;
    height: 50px;
    margin: 2em auto;
    border-radius: 50%;
}

.trapezoid {
    width: 100px;
    height: 0px;
    margin: 2em auto;
    /* border-top: 1px solid black; */
    border-bottom: 50px solid aqua;
    border-left: 25px solid black;
    border-right: 25px solid black;
    outline: 2px solid pink;
    outline-offset: 5px;
}

.rectangle {
    border: 2px solid black;
    background-color: aqua;
    outline: 2px solid pink;
    outline-offset: 5px;
    width: 200px;
    height: 100px;
    margin: 2em auto;
}

.parallelogram {
    border: 2px solid black;
    background-color: aqua;
    outline: 2px solid pink;
    outline-offset: 5px;
    width: 200px;
    height: 100px;
    margin: 2em auto;
    transform: skew(20deg);
}

.triangle-up {
    width: 0;
    height: 0;
    border-bottom: 100px solid aqua;
    border-left: 50px solid black;
    border-right: 50px solid black;
    outline: 2px solid pink;
    outline-offset: 5px;
    margin: 2em auto;
}

.triangle-down {
    width: 0;
    height: 0;
    border-top: 100px solid aqua;
    border-left: 50px solid black;
    border-right: 50px solid black;
    outline: 2px solid pink;
    outline-offset: 5px;
    margin: 2em auto;
}

.triangle-left {
    width: 0;
    height: 0;
    border-left: 100px solid aqua;
    border-top: 50px solid black;
    border-bottom: 50px solid black;
    outline: 2px solid pink;
    outline-offset: 5px;
    margin: 2em auto;
}

.triangle-right {
    width: 0;
    height: 0;
    border-right: 100px solid aqua;
    border-top: 50px solid black;
    border-bottom: 50px solid black;
    outline: 2px solid pink;
    outline-offset: 5px;
    margin: 2em auto;
}

.triangle {
    width: 50%;
    margin: 2em auto;
    border-bottom: 50px solid springgreen;
    border-top: 50px solid springgreen;
    border-right: 50px solid black;
    border-left: 50px solid black;
}
