/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */

main {
    background-color: bisque;
    width: 800px;
    height: 500px;
    border: 2px solid;
}

article {
    background-color: darkorange;
    width: 200px;
    margin: 2rem auto;
    height: 200px;
    border: 1px solid;
    animation-name: skewLeftRight;
    animation-duration: 2s;
    /* animation-timing-function: ; */
    /* animation-fill-mode: ; */
    animation-iteration-count: infinite;
    display: grid;
    place-content: center;
}

main:hover article {
    animation-play-state: paused;
}

@keyframes skewLeftRight {
    0% {
        transform: skew(10deg);
    }
    25% {
        transform: translateY(-25%);
    }
    50% {
        transform: skew(30deg);
    }
    75% {
        transform: translateY(25%);
    }
    100% {
        transform: skew(50deg);
    }
}
