body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

/* Utility Classes */

.animation {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.animation.animation--infinity {
    animation-iteration-count: infinite;
}

.animation.animation--delay-1s {
    animation-delay: 1s;
}

.animation.animation-fast {
    animation-duration: 0.5s; 
}

.animation.animation-slow {
    animation-duration: 4s;
}

/* Animation */
.slideInLeft {
    animation-name: slideInLeft;
    animation-direction: alternate;
    animation-timing-function: linear;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes slideInLeft {
    from {
        transform: translateX(-300px);
    }
    to {
        transform: translateX(0);
    }
}

.slideInRight {
    animation-name: slideInRight;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes slideInRight {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}

.rotate {
    animation-name: rotate;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-origin {
    animation-name: rotate-origin;
    animation-timing-function: linear;
    transform-origin: bottom left;
}

@keyframes rotate-origin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-360deg);
    }
}
